Imports

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time

# Carregamento de dados

In [23]:
# Não testei, não me apeteceu :)
dataset = pd.read_excel('Global_Superstore2.xlsx', index_col=0, comment='#')

# Tratamento de dados

In [24]:
dataset.describe()

,Postal Code,Sales,Quantity,Discount,Profit,Shipping Cost
count,9994.000000,51200.000000,51200.000000,51200.000000,51200.000000,51200.000000
mean,55190.379428,246.865006,3.476426,0.143026,28.639338,26.416522
std,32063.693350,487.908698,2.278923,0.212409,174.491125,57.338685
min,1040.000000,0.444000,1.000000,0.000000,-6599.978000,0.000000
25%,23223.000000,30.880000,2.000000,0.000000,0.000000,2.620000
50%,56430.500000,85.273800,3.000000,0.000000,9.255100,7.810000
75%,90008.000000,251.640000,5.000000,0.200000,36.841500,24.530000
max,99301.000000,22638.480000,14.000000,0.850000,8399.976000,933.570000

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51290 entries, 32298 to 6147
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order ID        51290 non-null  object
 1   Order Date      51290 non-null  object
 2   Ship Date       51290 non-null  object
 3   Ship Mode       51290 non-null  object
 4   Customer ID     51290 non-null  object
 5   Customer Name   51290 non-null  object
 6   Segment         51290 non-null  object
 7   City            51290 non-null  object
 8   State           51290 non-null  object
 9   Country         51290 non-null  object
 10  Postal Code     9994 non-null   float64
 11  Market          51290 non-null  object
 12  Region          51290 non-null  object
 13  Product ID      51290 non-null  object
 14  Category        51290 non-null  object
 15  Sub-Category    51290 non-null  object
 16  Product Name    51251 non-null  object
 17  Sales           51200 non-null  float64
 18  Quantity        51200 non-null  float64
 19  Discount        51200 non-null  float64
 20  Profit          51200 non-null  float64
 21  Shipping Cost   51200 non-null  float64
 22  Order Priority  51200 non-null  object
dtypes: float64(6), object(17)
memory usage: 9.4+ MB

In [26]:
dataset = dataset.reset_index() 
print(dataset.duplicated().sum())
len(dataset['Row ID'].unique()) == len(dataset) # o número de row id unicos é igual ao número de rows do dataset, logo não há repetidos

0

True

In [27]:
dataset.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [28]:
dataset.drop(columns=['Order ID', 'Customer ID', 'Customer Name', 'Product ID', 'Product Name', 'Postal Code'])

,Row ID,Order Date,Ship Date,Ship Mode,Segment,City,State,Country,Market,Region,Category,Sub-Category,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,31-07-2012,31-07-2012,Same Day,Consumer,New York City,New York,United States,US,East,Technology,Accessories,2309.650,7.0,0.0,762.1845,933.57,Critical
1,26341,05-02-2013,07-02-2013,Second Class,Corporate,Wollongong,New South Wales,Australia,APAC,Oceania,Furniture,Chairs,3709.395,9.0,0.1,-288.7650,923.63,Critical
2,25330,17-10-2013,18-10-2013,First Class,Consumer,Brisbane,Queensland,Australia,APAC,Oceania,Technology,Phones,5175.171,9.0,0.1,919.9710,915.49,Medium
3,13524,28-01-2013,30-01-2013,First Class,Home Office,Berlin,Berlin,Germany,EU,Central,Technology,Phones,2892.510,5.0,0.1,-96.5400,910.16,Medium
4,47221,05-11-2013,06-11-2013,Same Day,Consumer,Dakar,Dakar,Senegal,Africa,Africa,Technology,Copiers,2832.960,8.0,0.0,311.5200,903.04,Critical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,29002,19-06-2014,19-06-2014,Same Day,Corporate,Kure,Hiroshima,Japan,APAC,North Asia,Office Supplies,Fasteners,65.100,5.0,0.0,4.5000,0.01,Medium
51286,35398,20-06-2014,24-06-2014,Standard Class,Consumer,Houston,Texas,United States,US,Central,Office Supplies,Appliances,0.444,1.0,0.8,-1.1100,0.01,Medium
51287,40470,02-12-2013,02-12-2013,Same Day,Home Office,Oxnard,California,United States,US,West,Office Supplies,Envelopes,NaN,NaN,NaN,NaN,NaN,None
51288,9596,18-02-2012,22-02-2012,Standard Class,Home Office,Valinhos,São Paulo,Brazil,LATAM,South,Office Supplies,Binders,13.440,2.0,0.0,2.4000,0.00,Medium
51289,6147,22-05-2012,26-05-2012,Second Class,Consumer,Tipitapa,Managua,Nicaragua,LATAM,Central,Office Supplies,Paper,61.380,3.0,0.0,1.8000,0.00,High

# Modelação

Loading the training dataset