### Imports

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import time
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from pandas import DatetimeIndex

%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_curve
from sklearn.metrics import f1_score
from sklearn.metrics import fbeta_score
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics

### Carregamento de Dados

In [2]:
dataOriginal = pd.read_excel('Global_Superstore2.xlsx', index_col=0, comment='#') 
df = dataOriginal

### Tratamento dos dados

In [3]:
df['Ship Mode'] = df['Ship Mode'].astype('category')
df['Segment'] = df['Segment'].astype('category')
df['City'] = df['Country'].astype('category')
df['State'] = df['Country'].astype('category')
df['Country'] = df['Country'].astype('category')
df['Market'] = df['Market'].astype('category')
df['Region'] = df['Region'].astype('category')
df['Category'] = df['Category'].astype('category')
df['Sub-Category'] = df['Sub-Category'].astype('category')
#df['Orde Priority'] = df['Order Priority'].astype('category')

In [4]:
if df['Profit'].isnull().sum() > 0:
    df = df[df['Profit'].notna()]

In [5]:
# Já está justificado no ficheiro data_exploration o porquê de removermos Códigos postais.
if 'Postal Code' in df.columns:
    df = df.drop('Postal Code', axis=1)
 

df = df.rename(columns = {'Shipping Cost':'Shipping_Cost'})
df = df.rename(columns = {'Order Priority':'Order_Priority'})

#data['Product Name'] = data['Product Name'].mode().iloc[0]
#data.Order_Priority = most_imputer2.fit_transform(data[['Order_Priority']])

print("Total de valores nulos ")
print(df.isnull().sum())

Total de valores nulos
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount          0
Profit            0
Shipping_Cost     0
Order_Priority    0
dtype: int64

In [6]:
def show_frequencies_categorys():
    for coluna in df.select_dtypes(exclude=["number","bool_", "float64"]).columns:
        #print(coluna)
        if df[coluna].nunique() > 10 and ("Date" not in coluna) and ("ID" not in coluna):

            
            #df2=dfgroupby([coluna])[coluna].sum().rename("Courses_fee").groupby(level = 0).transform(lambda x: x/x.sum())
            coluna_percentagens = (df[coluna].value_counts()/df[coluna].count())*100
           # print(coluna_percentagens)
           # print("Exp:")
            values = coluna_percentagens.groupby(coluna_percentagens > 1).filter(lambda x: x.mean() > 1)
            if values.size > 0:
                print("\n", coluna, "'s com mais de 1% de valores\n")
                print(values)


# Juntar países e cidades cuja frequência é menor que uma especificada, para dados categóricos
# Esses dados são: "State", "City", "Country", "Market", "Region"
percentage = 1

dataset = df
for coluna in ["State", "City", "Country", "Market", "Region" ]:

        #print(coluna)
        series = dataset.value_counts(dataset[coluna])
        mask = (series/series.sum() * 100).lt(percentage)
        #print(mask,"\n\n")
        dataset[coluna] = np.where(dataset[coluna].isin(series[mask].index),'Other',dataset[coluna])

df = dataset

show_frequencies_categorys()

 City 's com mais de 1% de valores

Other                 24.707031
United States         19.343750
Australia              5.541016
France                 5.521484
Mexico                 5.164062
Germany                4.033203
China                  3.671875
United Kingdom         3.189453
Brazil                 3.123047
India                  3.037109
Indonesia              2.714844
Turkey                 2.691406
Italy                  2.164062
Nigeria                1.767578
Spain                  1.677734
Dominican Republic     1.449219
El Salvador            1.437500
Cuba                   1.414062
Honduras               1.392578
Philippines            1.330078
New Zealand            1.226562
Nicaragua              1.199219
Iran                   1.185547
Guatemala              1.017578
Name: City, dtype: float64

 State 's com mais de 1% de valores

Other                 24.707031
United States         19.343750
Australia              5.541016
France                 5.521484
Mexico                 5.164062
Germany                4.033203
China                  3.671875
United Kingdom         3.189453
Brazil                 3.123047
India                  3.037109
Indonesia              2.714844
Turkey                 2.691406
Italy                  2.164062
Nigeria                1.767578
Spain                  1.677734
Dominican Republic     1.449219
El Salvador            1.437500
Cuba                   1.414062
Honduras               1.392578
Philippines            1.330078
New Zealand            1.226562
Nicaragua              1.199219
Iran                   1.185547
Guatemala              1.017578
Name: State, dtype: float64

 Country 's com mais de 1% de valores

Other                 24.707031
United States         19.343750
Australia              5.541016
France                 5.521484
Mexico                 5.164062
Germany                4.033203
China                  3.671875
United Kingdom         3.189453
Brazil                 3.123047
India                  3.037109
Indonesia              2.714844
Turkey                 2.691406
Italy                  2.164062
Nigeria                1.767578
Spain                  1.677734
Dominican Republic     1.449219
El Salvador            1.437500
Cuba                   1.414062
Honduras               1.392578
Philippines            1.330078
New Zealand            1.226562
Nicaragua              1.199219
Iran                   1.185547
Guatemala              1.017578
Name: Country, dtype: float64

 Region 's com mais de 1% de valores

Central           21.683594
South             12.947266
EMEA               9.822266
North              9.345703
Africa             8.958984
Oceania            6.810547
West               6.191406
Southeast Asia     6.111328
East               5.511719
North Asia         4.566406
Central Asia       4.000000
Caribbean          3.300781
Name: Region, dtype: float64

 Sub-Category 's com mais de 1% de valores

Binders        12.015625
Storage         9.880859
Art             9.464844
Paper           6.910156
Chairs          6.707031
Phones          6.556641
Furnishings     6.191406
Accessories     6.005859
Labels          5.089844
Supplies        4.736328
Fasteners       4.726562
Bookcases       4.708984
Envelopes       4.652344
Copiers         4.341797
Appliances      3.427734
Machines        2.902344
Tables          1.681641
Name: Sub-Category, dtype: float64

In [7]:
data = df
number_bins = 6

from pandas.api.types import is_numeric_dtype

if is_numeric_dtype(data['Discount']):
    # Bins in discount
    print("0 ", data['Discount'])
    min_value = data['Discount'].min()
    print("1", min_value)
    max_value = data['Discount'].max()
    print("2", max_value)
    limits_bins = np.linspace(min_value,max_value , num=number_bins)
    print("3", limits_bins)
    labels_names = []
    for i in range(0, len(limits_bins) - 1):
#    print("Olá")   
        v1 = '{:.2f}'.format(limits_bins[i])
        v2 = '{:.2f}'.format(limits_bins[i+1])
        labels_names.append(f'{v1}-{v2}')
    #print("v1: ", limits_bins[i])
    #print("v2: ", limits_bins[i+1])
    #print("----")
#    data4.loc[data4['score'].between(0, 50, 'both'), 'grade'] = 'C'
#print(labels_names)
    data['Discount'] = pd.cut(x = data['Discount'], bins = limits_bins, labels = labels_names, include_lowest = True)
    print(data)
df = data

0  Row ID
32298    0.0
26341    0.1
25330    0.1
13524    0.1
47221    0.0
        ...
24175    0.1
29002    0.0
35398    0.8
9596     0.0
6147     0.0
Name: Discount, Length: 51200, dtype: float64
1 0.0
2 0.85
3 [0.   0.17 0.34 0.51 0.68 0.85]
               Order ID  Order Date   Ship Date       Ship Mode Customer ID  \
Row ID
32298    CA-2012-124891  31-07-2012  31-07-2012        Same Day    RH-19495
26341     IN-2013-77878  05-02-2013  07-02-2013    Second Class    JR-16210
25330     IN-2013-71249  17-10-2013  18-10-2013     First Class    CR-12730
13524   ES-2013-1579342  28-01-2013  30-01-2013     First Class    KM-16375
47221      SG-2013-4320  05-11-2013  06-11-2013        Same Day     RH-9495
...                 ...         ...         ...             ...         ...
24175     IN-2014-57662  05-08-2014  10-08-2014  Standard Class    DB-13270
29002     IN-2014-62366  19-06-2014  19-06-2014        Same Day    KE-16420
35398    US-2014-102288  20-06-2014  24-06-2014  Standard Class    ZC-21910
9596     MX-2012-140767  18-02-2012  22-02-2012  Standard Class    RB-19795
6147     MX-2012-134460  22-05-2012  26-05-2012    Second Class    MC-18100

            Customer Name      Segment           City          State  \
Row ID
32298         Rick Hansen     Consumer  United States  United States
26341       Justin Ritter    Corporate      Australia      Australia
25330        Craig Reiter     Consumer      Australia      Australia
13524    Katherine Murray  Home Office        Germany        Germany
47221         Rick Hansen     Consumer          Other          Other
...                   ...          ...            ...            ...
24175   Deborah Brumfield  Home Office      Australia      Australia
29002     Katrina Edelman    Corporate          Other          Other
35398    Zuschuss Carroll     Consumer  United States  United States
9596           Ross Baird  Home Office         Brazil         Brazil
6147        Mick Crebagga     Consumer      Nicaragua      Nicaragua

              Country  ...        Product ID         Category Sub-Category  \
Row ID                 ...
32298   United States  ...   TEC-AC-10003033       Technology  Accessories
26341       Australia  ...   FUR-CH-10003950        Furniture       Chairs
25330       Australia  ...   TEC-PH-10004664       Technology       Phones
13524         Germany  ...   TEC-PH-10004583       Technology       Phones
47221           Other  ...  TEC-SHA-10000501       Technology      Copiers
...               ...  ...               ...              ...          ...
24175       Australia  ...   OFF-BI-10002424  Office Supplies      Binders
29002           Other  ...   OFF-FA-10000746  Office Supplies    Fasteners
35398   United States  ...   OFF-AP-10002906  Office Supplies   Appliances
9596           Brazil  ...   OFF-BI-10000806  Office Supplies      Binders
6147        Nicaragua  ...   OFF-PA-10004155  Office Supplies        Paper

                                             Product Name     Sales Quantity  \
Row ID
32298   Plantronics CS510 - Over-the-Head monaural Wir...  2309.650      7.0
26341           Novimex Executive Leather Armchair, Black  3709.395      9.0
25330                   Nokia Smart Phone, with Caller ID  5175.171      9.0
13524                      Motorola Smart Phone, Cordless  2892.510      5.0
47221                      Sharp Wireless Fax, High-Speed  2832.960      8.0
...                                                   ...       ...      ...
24175                               Avery Binder, Economy    58.050      5.0
29002                       Advantus Thumb Tacks, 12 Pack    65.100      5.0
35398   Hoover Replacement Belt for Commercial Guardsm...     0.444      1.0
9596                              Acco Index Tab, Economy    13.440      2.0
6147              Eaton Computer Printout Paper, 8.5 x 11    61.380      3.0

         Discount    Profit Shipping_Cost  Order_Priority
Row ID
32298   0.00-0.17  762.1845        933.57        Critical
26341   0.00-0.17 -288.7650        923.63        Critical
25330   0.00-0.17  919.9710        915.49          Medium
13524   0.00-0.17  -96.5400        910.16          Medium
47221   0.00-0.17  311.5200        903.04        Critical
...           ...       ...           ...             ...
24175   0.00-0.17   19.9500          0.01          Medium
29002   0.00-0.17    4.5000          0.01          Medium
35398   0.68-0.85   -1.1100          0.01          Medium
9596    0.00-0.17    2.4000          0.00          Medium
6147    0.00-0.17    1.8000          0.00            High

[51200 rows x 22 columns]

In [8]:
# Tratar das datas
data2 = df

if "Order Date" in data2:
    consider_year = True
    consider_month = True
    consider_day = True
else: 
    consider_year = False
    consider_month = False
    consider_day = False
    
# Converter datas, acho que já está feito em cima, depois confirmar
dates_order = DatetimeIndex(pd.to_datetime(data2['Order Date'],format='%d-%m-%Y', errors='coerce'))
dates_ship = DatetimeIndex(pd.to_datetime(data2['Ship Date'],format='%d-%m-%Y', errors='coerce'))
if consider_year : 
    data2['Year_order'] = dates_order.year
    data2['Year_ship'] = dates_ship.year
    
if consider_month : 
    data2['Month_order'] = dates_order.month
    data2['Month_ship'] = dates_ship.month

if consider_day : 
    data2['Day_order'] = dates_order.day
    data2['Day_ship'] = dates_ship.day
if 'Order Date' in data2:
    data2 = data2.drop(['Order Date', 'Ship Date'], axis=1)

df = data2

In [13]:
# Label encoding de algumas variáveis
from sklearn.preprocessing import LabelEncoder

if "Category" in data2:
    process_Product_ID = True
    process_Costumer_ID = True
    process_Category = True
    process_Sub_Category = True
    process_Discount = True
else: 
    process_Product_ID = False
    process_Costumer_ID = False
    process_Category = False
    process_Sub_Category = False
    process_Discount = False

lb_make = LabelEncoder()

if process_Product_ID:
    data2["Product ID LabelEnc"] = lb_make.fit_transform(data2["Product ID"])

if process_Costumer_ID:
    data2["Costumer ID LabelEnc"] = lb_make.fit_transform(data2["Customer ID"])

if process_Category:
    data2["Category LabelEnc"] = lb_make.fit_transform(data2["Category"])

if process_Sub_Category:
    data2["Sub-Category LabelEnc"] = lb_make.fit_transform(data2["Sub-Category"])
if process_Discount:
    data2["Discount LabelEnc"] = lb_make.fit_transform(data2["Discount"])

    
if process_Product_ID: 
    data2 = data2.drop(['Product ID', 'Customer ID', "Category", "Sub-Category", "Discount"], axis=1)
#from pandas.api.types import is_string_dtype

if data2['Ship Mode'].dtype == 'category' or data2['Ship Mode'].dtype == 'object':
   # print("Ship mode ainda está em categorias")
    #print(data2['Ship Mode'].unique())
    ship_mode_dic = {'Same Day':1, 'First Class':2, 'Second Class':3,'Standard Class':4}
    #dataTemp = pd.DataFrame({"Ship Mode": ship_mode_dic.keys()})
    #print("Aqui vai\n")
    data2["Ship Mode"]= data2["Ship Mode"].apply(lambda x: ship_mode_dic.get(x))
    #print(data2)

if "Order_Priority" in data2 and (data2['Order_Priority'].dtype == 'category' or data2['Order_Priority'].dtype == 'object'):
    dataTemp = data2
    # print("Ship mode ainda está em categorias")
    #print(dataTemp['Order_Priority'].unique())
    priorities_dic = {'Critical':1, 'High':2, 'Medium':3,'Low':4}
    #dataTemp = pd.DataFrame({"Order_Priority": priorities_dic.keys()})
    #print("Aqui vai\n")
    dataTemp["Order_Priority"]= dataTemp["Order_Priority"].apply(lambda x: priorities_dic.get(x))
    #print(dataTemp.info())
    data2 = dataTemp

    
def do_LabelEncoding(dataset, col_name):
    if col_name in dataset:
        dataset[col_name] = lb_make.fit_transform(dataset[col_name])
    return dataset
        
print("\nApós fazer Label Encoding")
print(data2)

Após fazer Label Encoding
               Order ID Ship Mode      Customer Name      Segment  \
Row ID
32298    CA-2012-124891      None        Rick Hansen     Consumer
26341     IN-2013-77878      None      Justin Ritter    Corporate
25330     IN-2013-71249      None       Craig Reiter     Consumer
13524   ES-2013-1579342      None   Katherine Murray  Home Office
47221      SG-2013-4320      None        Rick Hansen     Consumer
...                 ...       ...                ...          ...
24175     IN-2014-57662      None  Deborah Brumfield  Home Office
29002     IN-2014-62366      None    Katrina Edelman    Corporate
35398    US-2014-102288      None   Zuschuss Carroll     Consumer
9596     MX-2012-140767      None         Ross Baird  Home Office
6147     MX-2012-134460      None      Mick Crebagga     Consumer

                 City          State        Country  Market      Region  \
Row ID
32298   United States  United States  United States      US        East
26341       Australia      Australia      Australia    APAC     Oceania
25330       Australia      Australia      Australia    APAC     Oceania
13524         Germany        Germany        Germany      EU     Central
47221           Other          Other          Other  Africa      Africa
...               ...            ...            ...     ...         ...
24175       Australia      Australia      Australia    APAC     Oceania
29002           Other          Other          Other    APAC  North Asia
35398   United States  United States  United States      US     Central
9596           Brazil         Brazil         Brazil   LATAM       South
6147        Nicaragua      Nicaragua      Nicaragua   LATAM     Central

                                             Product Name  ...  Year_ship  \
Row ID                                                     ...
32298   Plantronics CS510 - Over-the-Head monaural Wir...  ...       2012
26341           Novimex Executive Leather Armchair, Black  ...       2013
25330                   Nokia Smart Phone, with Caller ID  ...       2013
13524                      Motorola Smart Phone, Cordless  ...       2013
47221                      Sharp Wireless Fax, High-Speed  ...       2013
...                                                   ...  ...        ...
24175                               Avery Binder, Economy  ...       2014
29002                       Advantus Thumb Tacks, 12 Pack  ...       2014
35398   Hoover Replacement Belt for Commercial Guardsm...  ...       2014
9596                              Acco Index Tab, Economy  ...       2012
6147              Eaton Computer Printout Paper, 8.5 x 11  ...       2012

        Month_order  Month_ship  Day_order  Day_ship  Product ID LabelEnc  \
Row ID
32298             7           7         31        31                 8229
26341             2           2          5         7                  907
25330            10          10         17        18                10140
13524             1           1         28        30                10129
47221            11          11          5         6                10232
...             ...         ...        ...       ...                  ...
24175             8           8          5        10                 3683
29002             6           6         19        19                 4793
35398             6           6         20        24                 2622
9596              2           2         18        22                 3484
6147              5           5         22        26                 6546

        Costumer ID LabelEnc  Category LabelEnc  Sub-Category LabelEnc  \
Row ID
32298                   1286                  2                      0
26341                    808                  0                      5
25330                    336                  2                     13
13524                    873                  2                     13
47221                   1290                  2                      6
...                      ...                ...                    ...
24175                    383                  1                      3
29002                    854                  1                      8
35398                   1587                  1                      1
9596                    1249                  1                      3
6147                     981                  1                     12

        Discount LabelEnc
Row ID
32298                   0
26341                   0
25330                   0
13524                   0
47221                   0
...                   ...
24175                   0
29002                   0
35398                   4
9596                    0
6147                    0

[51200 rows x 26 columns]

# Modelação

## Modelo de Árvore de decisão

Para utilizarmos árvores de decisão, temos de converter os dados com "string" para numéricos. 
E removemos colunas que não consideramos importantes.

In [21]:
dataset = df

X = dataset.drop(['Profit'],axis=1)
y = dataset['Profit']

In [20]:
# Caso exista a coluna com "Order ID", temos de remover essa e outras colunas não apropriadas.

if 'Order ID' in X:
    X = X.drop(['Order ID', 'Customer ID', 'Customer Name' ],axis=1)

# Fazer label encoding de colunas que possam não ter sido já filtradas.
for coluna in X.select_dtypes(exclude=["number","bool_", "float64"]).columns:
    X = do_LabelEncoding(X, coluna)

print(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=101)

clf = DecisionTreeClassifier(random_state=2021)

        Ship Mode  Segment  City  State  Country  Market  Region  Product ID  \
Row ID
32298           1        0    23     23       23       6       5        8229
26341           2        1     0      0        0       0       8         907
25330           0        0     0      0        0       0       8       10140
13524           0        2     7      7        7       3       2       10129
47221           1        0    18     18       18       1       0       10232
...           ...      ...   ...    ...      ...     ...     ...         ...
24175           3        2     0      0        0       0       8        3683
29002           1        1    18     18       18       0       7        4793
35398           3        0    23     23       23       6       2        2622
9596            3        2     1      1        1       4      10        3484
6147            2        0    16     16       16       4       2        6546

        Category  Sub-Category  ...  Year_ship  Month_order  Month_ship  \
Row ID                          ...
32298          2             0  ...       2012            7           7
26341          0             5  ...       2013            2           2
25330          2            13  ...       2013           10          10
13524          2            13  ...       2013            1           1
47221          2             6  ...       2013           11          11
...          ...           ...  ...        ...          ...         ...
24175          1             3  ...       2014            8           8
29002          1             8  ...       2014            6           6
35398          1             1  ...       2014            6           6
9596           1             3  ...       2012            2           2
6147           1            12  ...       2012            5           5

        Day_order  Day_ship  Product ID LabelEnc  Costumer ID LabelEnc  \
Row ID
32298          31        31                 8229                  1286
26341           5         7                  907                   808
25330          17        18                10140                   336
13524          28        30                10129                   873
47221           5         6                10232                  1290
...           ...       ...                  ...                   ...
24175           5        10                 3683                   383
29002          19        19                 4793                   854
35398          20        24                 2622                  1587
9596           18        22                 3484                  1249
6147           22        26                 6546                   981

        Category LabelEnc  Sub-Category LabelEnc  Discount LabelEnc
Row ID
32298                   2                      0                  0
26341                   0                      5                  0
25330                   2                     13                  0
13524                   2                     13                  0
47221                   2                      6                  0
...                   ...                    ...                ...
24175                   1                      3                  0
29002                   1                      8                  0
35398                   1                      1                  4
9596                    1                      3                  0
6147                    1                     12                  0

[51200 rows x 27 columns]

In [24]:
'''
y_train = y_train.astype(int)
y_train_transformed = lb_make.fit_transform(y_train)

# Análise de variáveis que são do tipo float, para descobrir se é necessário multiplicar para não se perder informação na conversão para int.
X_train_transformed = {}
for coluna in X_train:
    #print(X_train[coisa])
    X_train_transformed[coluna] = lb_make.fit_transform(X_train[coluna]) 
# X_train_transformed = lb_make.fit_transform(X_train)


'''
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)


#scores = cross_val_score(clf, X, y, cv=5)

In [34]:
# Métricas
print("Mean Absolute Error: ", mean_absolute_error(y_test, predictions))
print("Mean Squared Error: ", mean_squared_error(y_test, predictions, squared=True))
print('RMSE: ', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

# Estudar o de baixo
#print(metrics.r2_score(y_test,predictions ))

Mean Absolute Error:  50.155071775390624
Mean Squared Error:  27777.577262507617
RMSE:  166.66606511977062

### Comentários aos resultados

Tendo em conta a variação da categoria profit, 50% dos dados estão entre 0 e 35, consideramos que os erros são demasiado grandes. No entanto, temos de ter em conta a dimensão dos outliers.